<footer class="footer">
  <div class="footer navbar-fixed-bottom">
    <div class="container">
      <div class="row">
          <div class="col-xs-6">
              <h5 class="text-left">Hugo Peckham 2017</h5>
          </div>
          <div class="col-xs-6">
              <h5 class="text-right">Website created by David Furley</h5>
          </div>
      </div>
    </div>
  </div>
</footer>