<%= render "partials/navbar" %>
<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-6">
        <div class="title-2">
          About Me
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1 col-xs-6">
        <p>"I am a photographer and skier from the Isle of Wight, off the south coast of England. Since leaving the UK in 2015 I have been using skiing as my excuse and my passport to travel the world. I traveled to New Zealand, Japan, back to New Zealand, then Canada, where I have remained for the last year.
            During this time I have been fortunate enough to have traveled through some of the most beautiful landscapes in the world, met some amazing amazing people and been on some incredible adventures.
            I hope that by sharing photos of these adventures I can find a way to continue doing what I love and inspire others to get out and make memories too."</p>
        <br>
        <h3>Career Highlights:</h3>
        <br>
        <h4>COMMERCIAL:</h4>
        <p>2017:</p>
        <p>-MUSTO outerwear catalog shoot.</p>
        <p>-MONS ROYALE shoot with Jossi Wells.</p>
        <br>
        <h4>EVENT:</h4>
        <p>2017:</p>
        <p>-Level 1 Productions, HABIT - Sunshine Village, Banff</p>
        <p>-Rob Heule’s Backcountry Bert Track Meet - Sunshine Village, Banff</p>
        <p>-Holy Bowl-Eh - Sunshine Village, Banff</p>
        <p>2016:</p>
        <p>-Jossi Wells Big Air - Cardrona, NZ</p>
        <p>-The North Face Frontier - 4*FWQ - The Remarkables, NZ</p>
        <br>
        <h4>PUBLISHED:</h4>
        <p>2017:</p>
        <p>-NZ Skier Mag</p>
        <p>-NZ Ski & Board</p>
        <br>
        <h4>At the end of the day, if you’re getting rad and there’s nobody there to [shoot] it, are you really getting rad?</h4>
      </div>
      <div class="col-md-4 col-sm-5 col-xs-6">
        <img src="https://scontent-lht6-1.xx.fbcdn.net/v/t1.0-9/14045588_1738017106438839_8725534500575251106_n.jpg?oh=5f299a28ceb68dc3588a01da9d4ee1d2&oe=5A9FF816" class="img-responsive img-thumbnail" alt="Responsive image">
      </div>
    </div>
</div>

<%= render "partials/footer" %>