<%= render "partials/navbar" %>
<br>
<br>
<div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <div class="title-2">
          Gallery
        </div>
      </div>
    </div>
      
    
      
    <!--Vermillion lakes-->
    <div class="row">
      <div class="landscape-center">
        <img src="https://c1.staticflickr.com/5/4554/37514398494_11248e57b6_b.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
      </div>
    </div>
    <br>
    
    <!--Yoho-->
    <div class="row">
      <div class="portrait-center">
        <img src="https://c1.staticflickr.com/5/4477/23910880988_c4728e518a_b.jpg" class="img-responsive img-thumbnail" alt="Responsive image">
      </div>
    </div>
    <br>
    
</div>