<div class="container">
    <div class="flex-center position-ref full-height">
        <div class="text-center">
            <div class="title m-b-md">
                Hugo Peckham
            </div>
            <div class="links">
                <a href="/contact">Contact</a>
                <a href="/about">About</a>
                <a href="/gallery">Gallery</a>        
            </div>
        </div>
    </div>
</div>