<div class="container">
    <div class="flex-center position-ref full-height">
        <div class="text-center">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                <div class="title m-b-md">
                    <img src="//preview.ibb.co/kUdRF6/HPP_fin_black_background.png" class="img-responsive" alt="Hugo Peckham Photography">
                </div>
              </div>
            </div>
            <div class="links">
                <a href="/contact">Contact</a>
                <a href="/about">About Me</a>
                <a href="/gallery">Gallery</a> 
                <a href="http://hugopeckhamphotography.bigcartel.com/">Shop</a>
            </div>
        </div>
    </div>
</div>